body { 
    background-image: url("img/new-zealand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: darkslategrey;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-top: 8px;
    width: fit-content;
    font-weight: bold;
}

img {
    border-radius: 10px;
    border: darkslategrey 5px solid ;
}

.container {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 100px;
}

p {
    color: darkslategrey;
    text-align: justify;
    font-size: 24px;
    font-weight: bolder;
}


h2 {
    color: darkslategrey;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 7px;
    margin-top: 15px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 15px;
}

h2:hover {
    color:black;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
}

h1:hover {
    color:black;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
}

h3:hover {
    color:black;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
}

p:hover {
    color:black;
    
}

h3 {
    color: darkslategrey;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 7px;
    margin-top: 8px;
    width: fit-content;
    font-weight: bold;
}

video {
    border-radius: 8px;
    border: darkslategrey 5px solid;
}

a {
    color: coral;
}

a:hover {
    color: brown;
}

footer {
    margin-top: 25px;
}

hr {
    border: darkslategrey 2px solid;
    width: 70%;
}